<div>
  <div class="header">
    <div class="month-label">{{ currentMonthLabel }}</div>
    <div>
      <button (click)="this.goToPreviousMonth()"><span class="icon">&#8249;</span></button>
      <button (click)="this.goToNextMonth()"><span class="icon">&#8250;</span></button>
    </div>
  </div>
  <div class="calendar-grid grid-headers">
  @for (header of headers; track header) {
    <div class="grid-cell">
      {{ header }}
    </div>
  }
  </div>
  <div class="calendar-grid grid-days">
  @for (day of days; track day.id) {
    @if (isDayDisabled(day.weekDay)) {
      <div
        class="grid-cell day-cell disabled-cell"
        [ngStyle]="{'grid-column': day.dayNumber === 1 ?  + dayColumnPosition(day) : '' }"
        >
        {{ day.dayNumber }}
      </div>
    } @else {
      <div
        role="button"
        tabindex="day.dayNumber"
        (click)="day.toggleStatus()"
        (keyup.enter)="day.toggleStatus()"
        class="grid-cell day-cell selectable"
        [ngStyle]="{'grid-column': day.dayNumber === 1 ?  + dayColumnPosition(day) : '' }"
        >
          <div class="cell-content">
            {{ day.dayNumber }}
          </div>
          <div
            class="cell-background"
            [ngClass]="{'selected': day.status === WorkDayStatus.FULL_DAY,
                        'half-selected': day.status === WorkDayStatus.HALF_DAY}"
            >
          </div>
      </div>
    }
  }
  </div>
  <div class="workeddays-count">
    <div class="count-label">Total:</div>
    <div class="count-total">{{ workDaysCount() }} days</div>
  </div>
</div>
