.header {
  text-align: center;
  font-size: larger;
  margin-bottom: 5px;
}

.workeddays-count {
  margin-top: 10px;
  width: 100%;
  text-align: right;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: larger;
  user-select: none;
  border: 1px gray solid;
}

.week-headers {
  background-color: rgb(232, 232, 232);
  font-weight: 500;
}

.days {
  font-weight: 400;
}

.grid-cell {
  margin: 1px;
  padding: 0.6em;
}

.selectable {
  cursor: pointer;
}

.disabled-cell {
  color: lightgray;
  cursor: auto;
}

.selected {
  background-color: #1a7eea;
  // color: white;
}

.half-selected {
  background: linear-gradient(
        to right bottom,
        #1a7eea 50%,
        transparent 50%) no-repeat;
  // background-color: rgb(68, 103, 233);
  // color: white;
}
