<div>
  <div class="calendar-grid headers">
  @for (header of headers; track header) {
    <div class="grid-cell">
      {{ header }}
    </div>
  }
  </div>
  <div class="calendar-grid days">
  @for (day of days; track day.id) {
    <div class="grid-cell"
      [ngClass]="{'disabled-cell': isDayDisabled(day.weekDay),
                  'selected': day.status === WorkDayStatus.FULL_DAY,
                  'half-selected': day.status === WorkDayStatus.HALF_DAY}"
      [ngStyle]="{'grid-column': day.dayNumber === 1 ?  + dayColumnPosition(day) : '' }"
      >
      {{ day.dayNumber }}
    </div>
  }
  </div>
</div>
