<div>
  <div class="header">
    <div class="month-label">{{ currentMonthLabel }}</div>
    <div>
      <button (click)="this.goToPreviousMonth()">&#10094;</button>
      <button (click)="this.goToNextMonth()">&#10095;</button>
    </div>
  </div>
  <div class="calendar-grid week-headers">
  @for (header of headers; track header) {
    <div class="grid-cell">
      {{ header }}
    </div>
  }
  </div>
  <div class="calendar-grid days">
  @for (day of days; track day.id) {
    @if (isDayDisabled(day.weekDay)) {
      <div
        class="grid-cell day-cell disabled-cell"
        [ngStyle]="{'grid-column': day.dayNumber === 1 ?  + dayColumnPosition(day) : '' }"
        >
        {{ day.dayNumber }}
      </div>
    } @else {
      <div
        role="button"
        tabindex="day.dayNumber"
        (click)="day.toggleStatus()"
        (keyup.enter)="day.toggleStatus()"
        class="grid-cell day-cell selectable"
        [ngClass]="{'selected': day.status === WorkDayStatus.FULL_DAY,
                    'half-selected': day.status === WorkDayStatus.HALF_DAY}"
        [ngStyle]="{'grid-column': day.dayNumber === 1 ?  + dayColumnPosition(day) : '' }"
        >
        {{ day.dayNumber }}
      </div>
    }
  }
  </div>
  <div class="workeddays-count">
    Total worked days: {{ workDaysCount() }}
  </div>
</div>
